html {
  margin: 0px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: scoll;
  background-color: #f2f2f2;
}

.topDiv {
  height: 100vh;
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  z-index: 10;
  height: 100px;
  position: absolute;
}

nav > a {
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #212121;
}
#logoSmall {
  height: 100px;
  width: 100px;
  background-size: cover;
  z-index: 10;
  margin: 0;
}

#logoSmallFotter {
  height: 150px;
  width: 150px;
  background-size: cover;
  z-index: 10;
}

#footer {
  border: 1px solid black;
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#footer > div {
  height: 200px;
  width: 100%;
}

#footerLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

#footer > #footerLink > a {
  text-decoration: none;
  color: black;
  font-size: 2.3vh;
  margin-top: 3px;
  margin-bottom: 3px;
}

#footerImage {
  display: flex;
  align-items: center;
  justify-content: center;
} 

#footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10vw;
}

#footer > #footerInfo > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

/*#footer {
  height: 200px;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  gap: 20vw;
}

#fotterLink {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#fotterInfo {
  width: 30vw;
  margin-left: 300px;
  align-items: end;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}