html {
  margin: 0px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: scoll;
  background-color: #f2f2f2;
}

.topDiv {
  height: 100vh;
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  flex-basis: var(--hNav);
  z-index: 10;
  height: 100px;
  position: absolute;
}

nav > a {
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #212121;
}
#logoSmall {
  height: 100px;
  width: 100px;
  background-size: cover;
  z-index: 10;
  margin: 0;
}

#logoSmallFotter {
  height: 150px;
  width: 150px;
  background-size: cover;
  z-index: 10;
  margin-left: 30px;

}

#footer {
  height: 200px;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  gap: 20vw;
 
}

#fotterLink {
  width: 30vw;
  display: flex;
  flex-direction: column;
  */
}

#fotterInfo {
  width: 30vw;
  margin-left: 300px;
  align-items: end;
  display: flex;
  flex-direction: column;*/
}

p {
  margin: 0;
}