body {
  font-family: "Open Sans", sans-serif;
}

#contactP {
  text-decoration: underline 3px #a3d2c2;
}

#contactPicture {
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
}

#contactContainer {
  width: 100%;
  height: 60vh;
  background-color: #b2bcab;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#contactWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
}

#map {
  width: 30vw;
  height: 50vh;
  object-fit: contain;
}

#contactInfo {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-left: 10vw;
  margin-right: 15vw;
}

h1 {
  margin-bottom: 3vh;
  margin-top: 0;
}

p {
  max-width: 50vw;
  max-height: 100%;
  overflow: scroll;
  font-size: 2.5vh;
}

#button {
  background-color: #212121;
  color: white;
  height: 40px;
  width: 130px;
  font-size: small;
  border-radius: 10px 10px 10px 10px;
  margin-top: 3vh;
  border: none;
  cursor: pointer;
}

/*#contactInfo {
  display: flex;
  flex-direction: column;
}

h1 {
  grid-column: span 2;
  font-size: 6.5vh;
  font-weight: lighter;
  margin-left: 8vh;
  margin-top: 8vh;
}

#map {
  width: 30vw;
  object-fit: cover; 
  margin: ;
}

p {
  margin-left: 8vh;
  margin-right: 4vh;

  max-width: 50vw;
  max-height: 100%;
  overflow: scroll;
  font-size: 2.5vh;
}*/

#logoSmall {
  cursor: pointer;
}