body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

#destinationsPage {
  text-decoration: underline 3px #a3d2c2;
}

#destinationPicture {
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
}

#countainerDestination {
  width: 100vw;
  height: 300px;
  z-index: 10;
  position: absolute;
  top: 30vh;
  left: 0px;
}

#destinations {
  text-decoration: underline 2px #a3d2c2;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14vh;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 15vh;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 20px;
}

#countriesFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  background-color: rgba(33, 33, 33, 20%);
  font-size: 5vh;
  font-weight: bolder;
}

#countriesSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  background-color: rgba(33, 33, 33, 20%);
  font-size: 5vh;
  margin-bottom: 10vh;
  font-weight: bolder;
}

button {
  border: none;
  background-color: #e7e7e7;
  box-shadow: 2px 2px #212121;
  margin-left: 1vh;
  margin-right: 1vh;
  transition-property: all;
  transition-duration: 0.5s;
}

#buttonCity,
#buttonCountry {
  height: 28px;
  width: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #a3d2c2;
  color: #212121;
}

button:active {
  background-color: #feca7d;
}



.startDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  background-color: #b2bcab;
  margin-top: 10vh;
 
}

.startImage {
  height: 50vh;
  width: 45vw;
  
  margin-right: 10vw;

}

.citieparent {
  width: 100vw;
 
  
}

.cityContainer {
  height: 50vh;
  margin-right: 5vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.citydDiv {
  width: 100vw;
  height: 70vh;
  background-color: #949c8e;  
}

.cityH1 {
  font-size: 5.5vh;
  margin-bottom: 3vh;
}

.readMoreButton {
  height: 50px;
  width: 100px;
  background-color: #212121;
  color: #e7e7e7;
  border-radius: 1vh;
  box-shadow: 3px 3px #97a8a7;
  font-size: 15px;
  margin-bottom: 10px;
}

.cityP {
  height: 50vh;
  max-width: 50vw;
  overflow: scroll;
}



.extra{
  height: 130vh;
  width: 100vw;
  background-color: #b2bcab;
  display: flex;
  padding-top: 10vh;  
}


.gradeImage{
  width: 40vw;
  height: 60vh;
  margin-left: 10vw;
}

.grades{
  
}

.extraImage{
  height: 50vh;
  width: 45vw;
  
  
}

.universities{
  margin-left: 12vw;
  margin-right: 10vw;
  width: 30vw;
  height: 40vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 10vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
#adSquare{
  height: 200px;
  width: 200px;
  position: absolute;
  margin-top: 45px;
}

.extraCloseButton{
  margin-left: 35vw;
  margin-top: 40vh;
  height: 50px;
  width: 100px;
  background-color: #212121;
  color: #e7e7e7;
  border-radius: 1vh;
  box-shadow: 3px 3px #97a8a7;
  font-size: 15px;
}

