body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

#destinationsPage {
  text-decoration: underline 3px #a3d2c2;
}

#destinationPicture {
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
  z-index: -1;
}

#countainerDestination {
  width: 100vw;
  height: 300px;
  z-index: 10;
  position: absolute;
  top: 30vh;
  left: 0px;
}

#destinations {
  text-decoration: underline 2px #a3d2c2;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14vh;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 20px;
}

#countriesFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#countriesSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .main {
  height: 100px;
  width: 100px;
  background-color: aqua;
} */

button {
  height: 28px;
  width: 30px;
  border: none;
  background-color: #e7e7e7;
  box-shadow: 2px 2px #212121;
  margin-left: 1vh;
  margin-right: 1vh;
  transition-property: all;
  transition-duration: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: #a3d2c2;
}

button:active {
  background-color: #feca7d;
}

#listContainer {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100vh;
  width: 100%;
  background-color: #b2bcab;
}

#countriesFirst {
  color: white;
  background-color: rgba(33, 33, 33, 20%);
  font-size: 5vh;
  font-weight: bolder;
}

#countriesSecond {
  color: white;
  background-color: rgba(33, 33, 33, 20%);
  font-size: 5vh;
  margin-bottom: 2vh;
  font-weight: bolder;
}

.cities {
  background-color: #97a8a7;
  margin-bottom: 10vh;
}


