body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

#destinationsPage {
  text-decoration: underline 3px #a3d2c2;
}

#destinationPicture {
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
  z-index: -1;
}

#countainerDestination {
  width: 100vw;
  height: 300px;
  background-color: #b2bcab;
  position: relative;
  z-index: 10;
}

#destinations {
  text-decoration: underline 2px #a3d2c2;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 20px;
}

#countriesFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#countriesSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

button {
  height: 28px;
  width: 30px;
  border: none;
  background-color: #e7e7e7;
  box-shadow: 2px 2px #212121;
  margin-left: 1vh;
  margin-right: 1vh;
  transition-property: all;
  transition-duration: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: #a3d2c2;
}

button:active {
  background-color: #feca7d;
}
