body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

#homePage {
  text-decoration: underline 3px #a3d2c2;
}
/* bilden */
.topDiv {
  background-color: #212121;
}

#homePicture {
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: contain;
}

#imgContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* länk till kontaktsidan */
#homeContact {
  width: 100%;
  height: 70vh;
  background-color: #949c8e;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#info {
  margin-left: 10vw;
  margin-right: 5vw;
  max-width: 50vw;
  max-height: 40vh;
}

#h1Info {
  margin-top: 0;
  margin-bottom: 2vh;
  font-size: 4vw;
  font-weight: lighter;
  max-height: 25vh;
  overflow: hidden;
}

p {
  font-size: 2vh;
  overflow: scroll;

}

#button {
  background-color: #212121;
  color: white;
  height: 40px;
  width: 130px;
  font-size: small;
  border-radius: 10px 10px 10px 10px;
  margin-top: 3vh;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px #97a8a7;
  transition-property: all;
  transition-duration: 0.5s;
}

#button:hover {
  cursor: pointer;
  background-color: #a3d2c2;
}

#button:active {
  background-color: #feca7d;
}

#imageContact {
  height: 50vh;
  width: 45vw;
  margin-right: 10vw;
}

img {
  object-fit: contain;
}

#adLong {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

/* länk till destination och program sidorna */
#homeLinks {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

#h1Links {
  font-size: 5vh;
  margin-bottom: 7vh;
}

#linkContainer {
  display: flex;
  flex-direction: row;
}

#destinations {
  height: 60vh;
  width: 20vw;
  border: 1px solid black;
  margin-right: 2vw;
  background-image: url("michael-lee-PUwNVrP7BLQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#programs {
  height: 60vh;
  width: 20vw;
  border: 1px solid black;
  margin-left: 2vw;
  background-image: url("windows-v94mlgvsza4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.buttonLinks {
  background-color: rgba(241, 241, 241, 0.8);
  color: #212121;
  height: 40px;
  width: 130px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 3vh;
  border: none;
  margin-bottom: 3vh;
  font-size: medium;
  cursor: pointer;
  box-shadow: 3px 3px rgba(173, 172, 172, 0.8);
  transition-property: all;
  transition-duration: 0.5s;
}


.buttonLinks:hover {
  cursor: pointer;
  background-color: #feca7d;
}

.buttonLinks:active {
  background-color: #a3d2c2;
}

/* nav */
nav > a {
  color: #f2f2f2;
}

#logoSmall {
  display: none;
}

#navLogo {
  height: 100px;
  width: 100px;
}

/* studentkommentarer */
#homeStudents {
  height: 60vh;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 5vw;
  margin-right: 5vw;
}
/*karusellen*/

.carousel {
  background: #f2f2f2;
  height: 25vh;
  width: 100vw;

}
.carousel-cell {
  width: 66%;
  height: 35vh;
  margin: 10px;
  margin-top: 10vh;
  background: #949c8e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studentName {
  margin: 0;
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-size: 4vh;  
  padding: 4px;
  justify-content: flex-start;
  
}
.studentComment {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-style: italic;
  overflow-y: scroll;
}

#homeStudents > h1 {
  position: absolute;
  top: 97vh;
  margin: 0;
  margin-top: 8vh;
  margin-bottom: 5vh;
  font-size: 6vh;
  font-weight: bolder;
}

/* buttons karusellen */

.button-prev,
.button-next {
  height: 40px;
  width: 40px;
  background-color: rgba(242, 242, 242, 0.3);
  border: none;
  font-size: 3vh;
  border-radius: 50%;
  box-shadow: 1px 1px rgba(242, 242, 242, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  z-index: 10;
}

.button-next {
  position: absolute;
  right: 1px;
  margin-right: 15px;
}

.button-prev {
  position: absolute;
  left: 1px;
  margin-left: 15px;
}

.button-prev:hover,
.button-next:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  border: 1px #212121;
}